<div class="row">
    <div class="span16">
        Please enter your e-mail address, and we will send further instructions to you.
    </div>
</div>    
<div class="row">
    <div class="span10 offset3 form-stacked">

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            {% if invalid_username is defined %}
                <div class="alert-message">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
            {% endif %}
                    
            <div class="clearfix">
                <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                <div class="input">
                    <input type="text" id="username" name="username" class="span8" />
                </div>
            </div><!-- /clearfix -->
            <div class="actions">    
                <input class="btn primary large" type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
                <a class="btn large" href="{{ path('home') }}">Cancel</a>
            </div>
        </form>
    </div>
</div>