{% form_theme profileForm theme %}

<div class="user-box">

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(profileForm) }} method="POST" class="fos_user_profile_edit">
    {{ form_errors(profileForm) }}

    {{ form_row(profileForm.user.name) }}
    {{ form_row(profileForm.user.email) }}
    
    {{ form_rest(profileForm) }}
    <div>
        <input class="button" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
    <br/>
</form>

</div>

<div style="width: 100%; text-align: center; margin-top: 10px;">
<a style="font-size: 14px;" href="{{ url('fos_user_change_password') }}">Change Password &rarr;</a>
</div>