{% form_theme changePasswordForm theme %}

<div class="row">
    <div class="span10 form-stacked">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(changePasswordForm) }} method="POST" class="fos_user_change_password">
            {% if form_errors(changePasswordForm) %}
                <div class="alert-message">{{ form_errors(changePasswordForm) }}</div>
            {% endif %}
                <div class="clearfix">
                    {{ form_label(changePasswordForm.current) }}
                    <div class="input">
                        {{ form_widget(changePasswordForm.current, { 'attr': {'class': 'span8'} }) }}
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    {{ form_label(changePasswordForm.new.first) }}
                    <div class="input">
                        {{ form_widget(changePasswordForm.new.first, { 'attr': {'class': 'span8'} }) }}
                    </div>
                </div><!-- /clearfix -->
                <div class="clearfix">
                    {{ form_label(changePasswordForm.new.second) }}
                    <div class="input">
                        {{ form_widget(changePasswordForm.new.second, { 'attr': {'class': 'span8'} }) }}
                    </div>
                </div><!-- /clearfix -->
                
                {{ form_rest(changePasswordForm) }}
            <div class="actions"> 
                <input class="btn large primary" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
                <a href="{{ url('home') }}" class="btn large">Cancel</a>
            </div>
        </form>

    </div>
</div>
